# Git ignore rules for FFit Windows Printer Driver
.dart_tool/
.packages
.pub-cache/
.pub/
build/
dist/
*.spec
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
ffit_printer_windows/build/
ffit_printer_windows/.flutter-plugins
ffit_printer_windows/.flutter-plugins-dependencies
ffit_printer_windows/.metadata
